html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: "STXingkai";
	overflow: hidden;
	background-color:#f2eeae;
}



.container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

.qDiv{
	width: 200px;
	height: 300px;
	background-color: rgba(69, 220, 252, 0.6);
	position: absolute;
	left: 45%;
	top: 74%;
	border: 1px solid #98989800;
	border-radius: 10%;
	box-shadow: 0px 0px 5px silver;
	
}

.qDiv h2{
	text-align: center;
	color: #ff4d59;
	font-size: 25px;
}


.qDiv img{
	max-width: 150px;
	margin-left: 15%;
}

.p1{
	position: absolute;	
	left: 47%;
	bottom: 5%;
	-moz-animation: p-rotate 2s infinite;
	-webkit-animation: p-rotate 2s infinite;
}

@-moz-keyframes p-rotate{
	0%{transform: rotateZ(0);}
	100%{transform: rotateZ(360deg);}
}

@-webkit-keyframes p-rotate{
	0%{transform: rotateZ(0);}
	100%{transform: rotateZ(360deg);}
}

#Arrow_left {
	position: absolute;
	margin: 0;
	top: 40%;
	left: 15%;
	cursor: pointer;
	-moz-animation: a-left 1s infinite;
	-webkit-animation: a-left 1s infinite;
}

@-moz-keyframes a-left{
	0%{padding-left: 0;}
	50%{padding-left:10px ;}
	100%{padding-left:0px ;}
}

@-webkit-keyframes a-left{
	0%{padding-left: 0;}
	50%{padding-left:10px ;}
	100%{padding-left:0px ;}
}

#Arrow_right {
	position: absolute;
	margin: 0;
	top: 40%;
	right: 15%;
	cursor: pointer;
	-moz-animation: a-right 1s infinite;
	-webkit-animation: a-right 1s infinite;
}

@-moz-keyframes a-right{
	0%{padding-right: 0;}
	50%{padding-right:10px ;}
	100%{padding-right:0px ;}
}

@-webkit-keyframes a-right{
	0%{padding-right: 0;}
	50%{padding-right:10px ;}
	100%{padding-right:0px ;}
}

