html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width:100%;
	font-family: "STFangsong";
	overflow: hidden;
    -webkit-font-smoothing: auto;
}


.loading{
	position: absolute;
	background: #161616;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.loading_ball_1{
	position: absolute;
	float: left;
	margin: 0;
	top: 45%;
	-moz-animation: ball-jump_1 3s infinite ease-in-out alternate;
	-webkit-animation: ball-jump_1 3s infinite ease-in-out alternate;
}

@-moz-keyframes ball-jump_1{
	0%{top:45%;left: 0%;}
	25%{top:25%;left:25%}
	50%{top:45%;left:50%;}
	75%{top:65%;left:75%;}
	100%{top:50%;left:97.2%;}
}

@-webkit-keyframes ball-jump_1{
	0%{top:45%;left: 0%;}
	25%{top:25%;left:25%}
	50%{top:45%;left:50%;}
	75%{top:65%;left:75%;}
	100%{top:50%;left:97.2%;}
}

.loading_ball_2{
	position: absolute;
	float: left;
	margin: 0;
	top: 50.5%;
	-moz-animation: ball-jump_2 3s infinite ease-in-out alternate;
	-webkit-animation: ball-jump_2 3s infinite ease-in-out alternate;
}

@-moz-keyframes ball-jump_2{
	0%{top:50.5%;left: 0%;}
	25%{top:65%;left:25%}
	50%{top:50.5%;left:50%;}
	75%{top:25%;left:75%;}
	100%{top:45%;left:97.2%;}
}

@-webkit-keyframes ball-jump_2{
	0%{top:50.5%;left: 0%;}
	25%{top:65%;left:25%}
	50%{top:50.5%;left:50%;}
	75%{top:25%;left:75%;}
	100%{top:45%;left:97.2%;}
}

.expand{ 
	width:0%; 
	height:1px; 
	margin:2px 0; 
	background:#2187e7; 
	position:absolute;
	top:50%;
	left:0%;
	box-shadow:0px 0px 10px 1px rgba(0,198,255,0.7);
}

.r1{
	cursor: pointer;
	margin-left: 3%;
	margin-top: 3%;
	border-radius:100%;
	-moz-animation: cc 4s linear infinite;
	-webkit-animation: cc 4s linear infinite;
	}
	
@-moz-keyframes cc{
	0%{box-shadow: white 0 0 15px;}
	50%{box-shadow: red 0 0 35px;}
	100%{box-shadow: white 0 0 15px;}
}

@-webkit-keyframes cc{
	0%{box-shadow: white 0 0 15px;}
	50%{box-shadow: red 0 0 35px;}
	100%{box-shadow: white 0 0 15px;}
}

.content{
	width:100%;
	height: 100%;
}
